body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(30, 38%, 92%);
}

.container {
    max-height: 600px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    display: flex;
    border-radius:  20px;
}

.product-img {
    height: 100%;
    width: 400px;
    border-radius: 20px 0 0 20px;
}

.description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 25px;
    margin-top: 20px;
}

h1 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-size: 15px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

h2 {
    text-align: left;
    font-family: 'Fraunces', serif;
    font-weight: 500;
    font-size: 40px;
    max-width: 300px;
    color: hsl(212, 21%, 14%);
    margin-top: 7%;
}

.product-description {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    max-width: 290px;
    line-break: 10px;
    line-height: 27px;
    font-size: 17px;
    margin-top: -2%;
}

.price {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    margin-top: -13%;
    margin-right: 50px;
}

h3 {
    font-family: 'Fraunces', serif;
    font-size: 45px;
    font-weight: 500;
    color: hsl(158, 36%, 37%);
    
}

.previous-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.btn {
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: -2%;
    cursor: pointer;
    transition: 0.3 ease;
}

.btn:hover {
    background: hsl(158, 68%, 12%);
    opacity: 1;
}

